# mkdir -p ./data/tgmount/mnt/flaczkownia ./data/ziprofs/mnt/flaczkownia ./data/dedup
# chown -R 65534:65534 ./data/tgmount ./data/ziprofs ./data/dedup
# docker compose run tgmount --list-dialogs --ipv6

services:
  tgmount:
    image: ghcr.io/juniorjpdj/tgmount
    restart: unless-stopped
    privileged: true
    network_mode: host
    volumes:
      # Data directory
      - source: ./data/tgmount
        target: /app/data
        type: bind
      # Output (mount) directory
      - source: ./data/tgmount/mnt
        target: /app/data/mnt
        type: bind
        bind:
          # Allows tgmount to propagate mount to the host
          propagation: rshared
    environment:
      TGAPP: "${TGAPP}"
    command:
      - --ipv6
      - --all-files
      - --reverse
      - --debug
      - --mount
      - ./mnt/flaczkownia
      - --new-file-webhook-url
      - http://127.0.0.1:9999/api/v1/tgmount_add_to_dedup_queue
      - --fuse-options
      - allow_other
      - --id
      - "-1001562494246"

  ziprofs:
    image: ghcr.io/juniorjpdj/ziprofs
    restart: unless-stopped
    privileged: true
    ulimits:
      nofile: 524288
    volumes:
      # Input directory (tgmount output)
      - source: ./data/tgmount/mnt
        target: /app/root
        read_only: true
        type: bind
        bind:
          # Allows host mounts to propagate to the container after container start
          propagation: rslave
      # Output (mount) directory
      - source: ./data/ziprofs/mnt
        target: /app/mnt
        type: bind
        bind:
          # Allows ziprofs to propagate mount to the host
          propagation: rshared
    stop_signal: SIGINT
    command:
      - /app/root/flaczkownia
      - /app/mnt/flaczkownia
      - -o
      - allowother,foreground,async,cachesize=3000

  dedup:
    # build: .
    image: ghcr.io/fumr/flaczkownia-dedup
    restart: unless-stopped
    deploy:
      mode: replicated
      # Can be scaled horizontally if the queue is large
      replicas: 1
    volumes:
      - # SQLite3 database directory
        source: ./data/dedup/
        target: /app/data
        type: bind
      - # Dedup input directory (ziprofs output)
        source: ./data/ziprofs/mnt
        target: /app/data/music
        read_only: true
        type: bind
        bind:
          # Allows host mounts to propagate to the container after container start
          propagation: rslave
    stop_signal: SIGINT
    command:
      - --db
      - sqlite:////app/data/dedup.sqlite3

  connector:
    image: ghcr.io/fumr/flaczkownia-dedup
    restart: unless-stopped
    volumes:
      - # SQLite3 database directory
        source: ./data/dedup/
        target: /app/data
        type: bind
    stop_signal: SIGINT
    entrypoint:
      - python
      - connector.py
    ports:
      # Necessary for tgmount to reach webhook (tgmount is running in host network mode)
      - "127.0.0.1:9999:9999"
    command:
      - --basedir
      - data/music/flaczkownia
      - --db
      - sqlite:////app/data/dedup.sqlite3
      - --host
      - 0.0.0.0
      - --port
      - "9999"
