mediafile==0.14.0
sqlalchemy==2.0.46
psycopg2-binary==2.9.11
fastapi==0.133.0
httpx==0.28.1
pydantic==2.12.5
uvicorn==0.41.0
pygobject==3.54.5
audioprint@git+https://github.com/JuniorJPDJ/audioprint@pyproject
puremagic==2.0.0
