mediafile==0.14.0
sqlalchemy==2.0.46
psycopg2-binary==2.9.11
fastapi==0.128.6
httpx==0.28.1
pydantic==2.12.5
uvicorn==0.40.0
pygobject==3.54.5
audioprint@git+https://github.com/JuniorJPDJ/audioprint@pyproject
puremagic==1.30
